@import "tailwindcss";
@font-face {
  font-family: "iranYekan";
  src: url("../public/IranYekan.woff2") format("woff-variations");
}
body {
  font-family: "iranYekan";
}
/* Transition timing */
::view-transition-group(.morph) {
  animation-duration: 250ms;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}

::view-transition-group(root) {
  z-index: -1;
}
/* Old page (exit) */
::view-transition-old(.morph) {
  animation: morph-exit 250ms;
  -webkit-animation: morph-exit 250ms;
}

/* New page (enter) */
::view-transition-new(.morph) {
  animation: morph-enter 250ms;
  -webkit-animation: morph-enter 250ms;
}

/* Image pair */
::view-transition-image-pair(.morph) {
  animation: none;
}

/* Enter */
@keyframes morph-enter {
  from {
    opacity: 0.4;
    scale: 0.9;
    filter: blur(8px);
  }

  to {
    opacity: 1;
    scale: 1;
    filter: blur(0);
  }
}

/* Exit */
@keyframes morph-exit {
  from {
    opacity: 1;
    scale: 1;
    filter: blur(0);
  }

  to {
    opacity: 0.4;
    scale: 0.9;
    filter: blur(8px);
  }
}
